manifest {
    mainScript = 'main.nf'
    name = 'anno_bench'
}

// default parameters
params {
    cores = Runtime.runtime.availableProcessors().intdiv(4)
    help = false
    max_cores = Runtime.runtime.availableProcessors()
    memory = '12'
    profile = false

// inputs
    fasta = ''

// settings

 
// folder structure
	output = "results"
	runinfodir = "Runinfo"
    fasta_mod_dir = "Fasta"
    databases = "Databases"
    annotation_dir = "Annotations"

// db parameters
bakta_db = false 
eggnog_db = false 
pgap_db = false
pgap_v = "2022-10-03.build6384"


}




// runinfo
timeline {
  enabled = true
  file = "${params.output}/${params.runinfodir}/execution_timeline.html"
}

report {
  enabled = true
  file = "${params.output}/${params.runinfodir}/execution_report.html"
}


profiles {
    local {
        workDir = "work/nextflow-anno_bench-$USER"
        includeConfig 'configs/local.config'
        executor {
            name = "local"
            cpus = params.max_cores
            memory = params.memory
        }

        process.errorStrategy = { task.exitStatus in [10,14,143,137,104,134,139] ? 'retry' : 'terminate' }
    }


    docker {
        docker { enabled = true }
        includeConfig 'configs/container.config'
    }

    stub {
        params.max_cores = 2
        params.cores = 2
    }

    
    ukj_cloud { 
    workDir = "/tmp/nextflow-anno_bench-$USER"
    docker { enabled = true }
    process.executor = 'google-lifesciences'
    params.databases = 'gs://persistant-storage/anno_bench/'
    params.tmp_storage = 'gs://backup-case-mateusz/anno_bench_tmp/'
    bucketDir = 'gs://case-tmp-dir/anno_bench/'
    google {  
        project = 'case-dev-302214'
        zone = 'europe-west1-b,europe-west1-c,europe-west2-b,europe-west2-a,europe-central2-a,europe-central2-b,europe-central2-c,europe-west1-d,europe-west2-c,europe-west3-a,europe-west3-b,europe-west3-c,europe-west4-a,europe-west4-b,europe-west6-a,europe-west6-b'
        lifeSciences.preemptible = true
        lifeSciences.bootDiskSize = 100.GB
        }
    includeConfig 'configs/container.config'
    includeConfig 'configs/nodes.config'

    // cloud error strategy
    process.errorStrategy = { task.exitStatus in [10,14,143,137,104,134,139] ? 'retry' : 'ignore' }
    process.maxRetries = 3
    }

}
