process.executor = 'local'

process {
    withLabel:  ubuntu      { cpus = params.cores }
    withLabel:  prokka      { cpus = params.cores }
    withLabel:  bakta       { cpus = params.cores } 
    withLabel:  eggnog      { cpus = params.cores } 
    withLabel:  pgap      { cpus = params.cores } 
    withLabel:  r      { cpus = params.cores } 
    }
