process {
    withLabel:  ubuntu      { cpus = 2; memory = '2 GB' }
    withLabel:  bakta       { cpus = 8; memory = '12 GB'} //optimized
    withLabel:  prokka      { cpus = 4; memory = '2 GB' } //optimized
    withLabel:  eggnog      { cpus = 6; memory = '48 GB' } //optimized
    withLabel:  pgap      { cpus = 8; memory = '8 GB' }
    withLabel:  r      { cpus = 1; memory = '2 GB' }
    }
